<ng-container *ngIf="data$ | async as data">
  <app-auth-layout>
    <p class="text-2xl font-semibold">Get started</p>

    <form nz-form class="mt-2 w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter your name.">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="name" placeholder="Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Email is required.">
          <nz-input-group nzPrefixIcon="mail">
            <input type="text" nz-input formControlName="email" placeholder="Email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Password is required.">
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="toggleShowPassword">
            <input
              [type]="isShowPassword ? 'text' : 'password'"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #toggleShowPassword>
          <span
            nz-icon
            [nzType]="isShowPassword ? 'eye' : 'eye-invisible'"
            nzTheme="outline"
            class="cursor-pointer text-noneSelected transition-colors hover:text-black"
            (click)="isShowPassword = !isShowPassword"
          ></span>
        </ng-template>
      </nz-form-item>

      <button
        [disabled]="data.isSubmitting"
        type="submit"
        class="flex w-full items-center justify-center"
        nz-button
        nzType="default"
      >
        <ng-container *ngIf="!data.isSubmitting">Sign up</ng-container>
        <span *ngIf="data.isSubmitting" nz-icon nzType="loading" nzTheme="outline"></span>
      </button>

      <br />
      Already has account? <a class="transition-all hover:underline" routerLink="/login">Login</a>
    </form>
  </app-auth-layout>
</ng-container>
