/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '/node_modules/ng-zorro-antd/ng-zorro-antd.min.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

p {
  margin: 0 !important;
}

.slick-dots li {
  background-color: #69c0ff !important;
}

.slick-active button {
  background-color: #0050b3 !important;
}
